body {
	background: #ADBABD;
	text-align: center;
	font-family: 'Baskerville', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #272932;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	font-weight: 700;
  font-family: 'Georgia';
}

#first {
	margin-top: 10px;
	color: #463F3A;
}

#second {
	color: #463F3A;

}

#third {
	color: #463F3A;
	margin-bottom: 30px;
}


#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #C9ADA7;
	background-color: #22223B;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #7C616C;
	color: #5B5B5B;
}

ul {
	text-align: left;
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #424242;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #424242;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #A3A3A3;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;

}

li:hover {
	background: #C9C9C9;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #1C1C1C;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 50%;
	padding: 5px;
	border: none;
	height: 35px;
}


.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}

*{margin:10;padding:10;}

/*body {
  font-size:100%;
  line-height:1.5;
  font-family: "Roboto Condensed", sans-serif;
  background: rgb(40,40,59);
  background-image:linear-gradient(rgb(40,40,59) 0%, darken(rgb(40,40,59),12%) 100%);
  color: #444;
}*/

*, *:before, *:after {
  box-sizing:border-box;
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid;
  border-radius:5px;
  background-color: #fff;
  
}

table {
  clear:both;
  width:100%;
  border:1px solid rgb(220,220,255);
  border-radius:3px;
  border-collapse:collapse;
  color: #444;
}

td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid rgb(220,220,255);
  border-top:1px solid rgb(220,220,255);
  width:100% / 7;
}

td.not-current {
  color:#c0c0c0;
}

td.today {
  font-weight:700;
  color: rgb(40,40,59);
  font-size:1.5em;
}

thead td {
  border:none;
  color: rgb(40,40,59);
  text-transform:uppercase;
  font-size:1.5em;
}

footer {
    flex: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
  }